# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore
node_modules
dist
.cache
doc/
node_modules/
img/
.idea
*.iml
.htaccess
404.html
browserconfig.xml
robots.txt
*.png
site.webmanifest
.editorconfig
.gitattributes
LICENSE.txt
humans.txt
